{% extends 'base.html' %}
{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">DJANGO APP</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate culpa itaque ad fugiat sint ratione
            maiores, tempore esse totam harum quo sunt enim, quibusdam perspiciatis consequatur unde repellendus
            corporis, officia labore ducimus! Accusantium, facere nostrum! Maiores ipsum corporis eos quibusdam
            blanditiis, voluptas modi nesciunt tempore ex quam ab beatae, tenetur pariatur obcaecati! Eligendi saepe aut
            tempora eaque impedit facere, laudantium quibusdam deleniti. Similique quia dignissimos iste et assumenda
            eaque corporis molestiae voluptas esse accusantium? Cumque ullam doloremque totam atque iusto fugiat quo
            tempora laudantium aperiam odio. Officia, rerum, a quis ullam explicabo quaerat, necessitatibus facere atque
            cupiditate obcaecati quibusdam quisquam.</p>
            
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock content %}  